<div class="w-full">
    {{#ifeq (isCoordinator user.role.name) true}}
    <button type="button" onclick="toggleCreateUser()"
        class="flex items-center p-3 text-sm font-medium text-white border-t border-green-800 rounded-b-lg bg-green-600 hover:bg-green-700">
        <i class="fa-solid fa-plus mr-2"></i>
        Create
    </button>
    {{/ifeq}}
    <div class="bg-white overflow-auto">
        <table class="min-w-full leading-normal">
            <thead>
                <tr>
                    <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        User
                    </th>
                    <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Role
                    </th>
                    <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Email
                    </th>
                    <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Address
                    </th>
                    <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Gender
                    </th>
                    <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Phone
                    </th>
                    <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Birthday
                    </th>
                    <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr id="form-create-user" class="hidden">
                    <form action="/profile/create" method="POST">
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <div class="flex items-center">
                                <input type="text" name="name" id="" class="p-2 border rounded focus:outline-none"
                                    placeholder="Full name *" autofocus required>
                            </div>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <select id="select-{{_id}}" class="block w-fit border p-1 rounded" name="role">
                                {{#each (limitRoleCanHandle ./roles ./user.role.name)}}
                                <option value="{{_id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <div class="flex items-center">
                                <input type="email" name="email" id="" class="p-2 border rounded focus:outline-none"
                                    placeholder="Email *" required>
                            </div>
                        </td>
                        <td colspan="4" class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <div class="flex gap-1">
                                <button type="submit"
                                    class="flex items-center align-middle p-2 text-sm font-medium text-white border-green-800 border rounded bg-green-600 hover:bg-green-700">
                                    <i class="fa-solid fa-floppy-disk"></i>
                                </button>
                                <button type="button" onclick="toggleCreateUser()"
                                    class="flex items-center align-middle p-2 text-sm font-medium text-white border-red-800 border rounded bg-red-600 hover:bg-red-700">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </form>
                </tr>
                {{#each (handleUserListByRole users user.role.name)}}
                <tr>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <div class="flex items-center">
                            <div class="flex-shrink-0 w-10 h-10">
                                <img class="w-full h-full rounded-full" src="/uploads/{{avatar}}" alt="" />
                            </div>
                            <div class="ml-3">
                                <p class="text-gray-900 whitespace-no-wrap">
                                    {{name}}
                                </p>
                            </div>
                        </div>
                    </td>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <select id="select-{{_id}}" class="block w-fit border p-1 rounded"
                            onchange="handleRoleChange('{{_id}}')">
                            <option disabled selected>Current role: <b class="font-bold">{{role.name}}</b></option>
                            {{#each (limitRoleCanHandle ../roles ../user.role.name)}}
                            <option value="{{_id}}" {{#ifeq name ../role.name }} selected {{/ifeq}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <p class="text-gray-900 whitespace-no-wrap">{{email}}</p>
                    </td>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <p class="text-gray-900 whitespace-no-wrap">{{address}}</p>
                    </td>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <p class="text-gray-900 whitespace-no-wrap">{{handleGender gender}}</p>
                    </td>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <p class="text-gray-900 whitespace-no-wrap">{{phone}}</p>
                    </td>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        {{#if birthday}}
                        <p class="text-gray-900 whitespace-no-wrap">
                            {{formatDateTime birthday 'date'}}
                        </p>
                        {{/if}}
                    </td>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <div class="flex gap-1">
                            <a href="/profile?userId={{_id}}">
                                <button type="button"
                                    class="flex items-center align-middle py-2 px-3 text-sm font-medium text-white border-blue-800 border rounded bg-blue-600 hover:bg-blue-700">
                                    <i class="fa-solid fa-info"></i>
                                </button>
                            </a>
                            {{#ifeq ../user.role.name 'Administrator'}}
                            <a href="/profile/delete/{{_id}}">
                                <button type="button"
                                    class="flex items-center align-middle p-2 text-sm font-medium text-white border-red-800 border rounded bg-red-600 hover:bg-red-700">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </a>
                            {{/ifeq}}
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script>
    function handleRoleChange(id) {
        const roleSelect = document.getElementById(`select-${id}`);
        const selectedRoleId = roleSelect.value;

        fetch(`/profile/update/${id}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                role: selectedRoleId
            }),
        })
            .then((response) => {
                if (response.ok) {
                    alert("Updated");
                } else {
                    alert("Failed to submit update");
                }
            })
            .catch((error) => {
                alert("Error submitting update:", error);
            });
    }

    function toggleCreateUser() {
        const form = document.querySelector("#form-create-user");
        form.classList.toggle('hidden')
    }
</script>