<body class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-cover"
    style="background-image:url('/images/background.jpg');">
    <div class="max-w-4xl flex items-center h-auto lg:h-screen flex-wrap mx-auto my-32 lg:my-0">

        <div id="profile"
            class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white opacity-75 mx-6 lg:mx-0">


            <div class="relative p-4 md:p-12 text-center lg:text-left">
                <div class="block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center"
                    style="background-image: url('/uploads/{{profile.avatar}}')"></div>

                <h1 class="text-3xl font-bold pt-8 lg:pt-0">{{profile.name}}</h1>
                <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-green-500 opacity-25"></div>
                <p class="pt-4 text-base font-bold flex items-center justify-center lg:justify-start">
                    <i class="fa-solid fa-briefcase fa-sm text-[#ff6e84] mr-4 min-w-4"></i> {{profile.role.name}}
                </p>
                <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start">
                    <i class="fa fa-envelope fa-md text-[#ff6e84] mr-4 min-w-4" aria-hidden="true"></i>
                    {{profile.email}}
                </p>
                {{#if profile.address}}
                <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start">
                    <i class="fa-solid fa-location-dot fa-lg text-[#ff6e84] mr-4 min-w-4"></i> {{profile.address}}
                </p>
                {{/if}}
                {{#if profile.gender}}
                <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start">
                    <i class="fa-solid fa-person-half-dress fa-lg text-[#ff6e84] mr-4 min-w-4"></i> {{handleGender
                    profile.gender}}
                </p>
                {{/if}}
                {{#if profile.phone}}
                <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start">
                    <i class="fa-solid fa-phone fa-md text-[#ff6e84] mr-4 min-w-4"></i> {{profile.phone}}
                </p>
                {{/if}}
                {{#if profile.birthday}}
                <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start">
                    <i class="fa-solid fa-calendar-days fa-lg text-[#ff6e84] mr-4 min-w-4"></i> {{formatDateTime
                    profile.birthday 'date'}}
                </p>
                {{/if}}

                <div class="counter !pb-0 !pt-5">
                    <div id="counter">
                        <div class="cell !mb-0">
                            <div class="counter-value number-count" data-count="{{count contributions}}">{{count
                                contributions}}</div>
                            <p class="counter-info">Contributions</p>
                        </div>
                        <div class="cell !mb-0">
                            <div class="counter-value number-count" data-count="{{count comments}}">{{count comments}}
                            </div>
                            <p class="counter-info">Commments</p>
                        </div>
                    </div>
                </div>

                <div class="pt-8 text-center">
                    <a href="mailto:{{profile.email}}">
                        <button class="bg-[#ff6e84] hover:brightness-90 text-white font-bold py-2 px-4 rounded-full">
                            Get In Touch
                        </button>
                    </a>
                </div>

            </div>

        </div>

        <div class="w-full lg:w-2/5 lg:h-[75%]">
            <img src="/uploads/{{profile.avatar}}"
                class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block w-full h-full object-cover">
        </div>
    </div>
</body>