<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/logo.png">
    <title>{{#if title}}{{title}}{{else}}COMP1640{{/if}}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap"
        rel="stylesheet" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="./css/index.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".fixed-top">
    {{#if error.message}}
    <div class="alert z-50 fixed flex items-center w-full max-w-xs p-4 space-x-4 text-red-700 bg-red-100 divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow left-5 bottom-5"
        role="alert">
        <div class="text-sm font-normal">{{error.message}}</div>
    </div>
    {{/if}}
    {{#if success.message}}
    <div class="alert z-50 fixed flex items-center w-full max-w-xs p-4 space-x-4 text-green-700 bg-green-100 divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow left-5 bottom-5"
        role="alert">
        <div class="text-sm font-normal">{{success.message}}</div>
    </div>
    {{/if}}

    <nav class="navbar fixed-top {{#ifeq title 'Profile'}}!bg-[#f1f9fc]{{/ifeq}}">
        <div class="container sm:px-4 lg:px-8 flex flex-wrap items-center justify-between lg:flex-nowrap">

            <a class="text-gray-800 font-semibold text-3xl leading-4 no-underline font-mono" href="/">COMP1640</a>

            <button
                class="background-transparent rounded text-xl leading-none hover:no-underline focus:no-underline lg:hidden lg:text-gray-400"
                type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon inline-block w-8 h-8 align-middle"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse lg:flex lg:flex-grow lg:items-center"
                id="navbarsExampleDefault">
                <ul class="pl-0 mt-3 mb-2 ml-auto flex flex-col list-none lg:mt-0 lg:mb-0 lg:flex-row">
                    <li>
                        <a class="nav-link {{#ifeq title 'Home'}}active{{/ifeq}}" href="/">Home
                        </a>
                    </li>
                    <li>
                        <a class="nav-link {{#ifeq title 'Publication'}}active{{/ifeq}}"
                            href="/publication">Publication</a>
                    </li>
                    {{#if user}}
                    <li>
                        <a class="nav-link {{#ifeq title 'Faculty'}}active{{/ifeq}}" href="/faculty">Faculty</a>
                    </li>
                    {{/if}}
                    {{#ifeq user.role.name "Administrator"}}<li>
                        <a class="nav-link {{#ifeq title 'Management'}}active{{/ifeq}}" href="/admin">Management</a>
                    </li>
                    {{/ifeq}}
                    {{#if user}}
                    <li>
                        <a class="nav-link {{#ifeq title 'Profile'}}active{{/ifeq}}"
                            href="/profile?userId={{user._id}}">{{user.name}}</a>
                    </li>
                    <li class="flex lg:justify-center items-center">
                        <a class="px-2 no-underline" href="/logout">
                            <i
                                class="fa fa-sign-out text-indigo-600 hover:text-pink-500 text-xl transition-all duration-200 mr-1.5"></i>
                        </a>
                    </li>
                    {{else}}
                    <li>
                        <a class="nav-link {{#ifeq title 'Register'}}active{{/ifeq}}" href="/register">Register</a>
                    </li>
                    <li>
                        <a class="nav-link {{#ifeq title 'Login'}}active{{/ifeq}}" href="/login">Login</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>

    {{>header}}

    {{{body}}}

    {{>footer}}

    <script src="./js/jquery.min.js"></script>
    <script src="./js/jquery.easing.min.js"></script>
    <script src="./js/jquery.magnific-popup.js"></script>
    <script src="./js/scripts.js"></script>
</body>

</html>